.projectcontainer {
    background-color: #ffffff;
}

.cardgroup {
    margin: auto 8%;
}

.animate {
    animation: animate 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
      opacity: 0.2;
      transform: translate3d(-20%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

.header {
    text-align: center;
    color: #111;
    font-weight: 700;
}

.buttongroup {
    display: block;
    margin: auto 0;
}

.buttongroupdiv {
    text-align: center;
}

.button {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    border-color: #30B2FF;
    color: #111;
}

.button:hover {
    background-color: #f0f8ff;
    color: #111;
}

.active {
    background-color: #30B2FF !important;
    border-color: #30B2FF !important;
    color: #ffffff !important;
}

.active:focus {
    outline: none !important;
    box-shadow: none !important;
}