.projectcontainer {
    /*background-color: #1a1a1d;*/
    background-color: black;
}

.cardgroup {
    margin: auto 100px;
}

.animate {
    animation: animate 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
      opacity: 0.2;
      transform: translate3d(-20%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

.header {
    text-align: center;
    color: white;
    font-family: "Lato";
}

.buttongroup {
    display: block;
    margin: auto 0;
    font-family: "Lato";
}

.buttongroupdiv {
    text-align: center;
}

.button {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a1a1d;
    border-color: #30B2FF;
}

.button:hover {
    background-color: #1a1a1d;
}

.active {
    background-color: #30B2FF !important;
    border-color: #30B2FF !important;
}

.active:focus {
    outline: none !important;
    box-shadow: none !important;
}