.container {
    color: white;
    font-family: "Lato";
}

.imageCol {
    text-align: right;
}

.image {
    border-radius: 5%;
    width: 200px;
}

.company {
    color: #30B2FF;
}

hr {
    width: 50%;
    margin: 0 auto;
    color: #30B2FF
}

li {
    padding-bottom: 10px;
    padding-left: 5px;
}

ul {
    list-style-type: square;
    color: rgb(255, 255, 255, 0.8);
}