.container {
    color: white;
}

.vertical-timeline {
    width: 80%;
}

.vertical-timeline-element {
    background-color: transparent;
}

.vertical-timeline-element-date {
    color: #888;
}

.experienceRow {
    color: black;
    font-family: "Lato";
}


.image {
    border-radius: 10%;
    width: 100%;
}

.vertical-timeline-element-icon {
    padding-left: 2px;
}

.company {
    font-family: 'Poppins';
    margin-bottom: 0;
}

.role {
    margin-bottom: 1px;
}




hr {
    width: 50%;
    margin: 0 auto;
    color: #30B2FF
}

li {
    padding-bottom: 10px;
    padding-left: 5px;
}

ul {
    list-style-type: square;
    color: rgb(255, 255, 255, 0.8);
}