.container {
    color: white;
    font-family: "Lato";
}

.imageCol {
    text-align: right;
}

.image {
    border-radius: 5%;
    width: 150px;
}

.company {
    color: #30B2FF;
}

hr {
    width: 50%;
    margin: 0 auto;
    color: #30B2FF
}