.container {
    color: white;
}

.vertical-timeline {
    width: 80%;
}

.vertical-timeline-element {
    background-color: transparent;
}

.vertical-timeline-element-date {
    color: #888;
}

.experienceRow {
    color: black;
    font-family: "Lato";
}

.vertical-timeline-element-content.bounce-in:hover {
    transition: box-shadow 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 20px 4px rgba(48, 178, 255, 0.4), 0 -4px 20px 4px rgba(48, 178, 255, 0.39);
}


.image {
    border-radius: 10%;
    width: 100%;
}

@media (max-width: 768px) {
    .image {
        height: 100px;
        width: auto;
        margin-bottom: 10px;
    }
}

.vertical-timeline-element-icon {
    padding-left: 2px;
}

.company {
    font-family: 'Poppins';
    margin-bottom: 0;
}

.role {
    margin-bottom: 1px;
}




hr {
    width: 50%;
    margin: 0 auto;
    color: #30B2FF
}

/*

li {
    padding-bottom: 10px;
    padding-left: 5px;
}

ul {
    list-style-type: square;
    color: rgb(255, 255, 255, 0.8);
}
*/