.experiences {
    background-color: #1a1a1d;
}

.header {
    text-align: center;
    color: white;
    font-family: "Lato";
    border-bottom: 2px solid white;
    width: max-content;
    margin: 0 auto;
}