footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

.fa-instagram-square {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-twitter-square {
    color: #00acee;
}
.fa-envelope {
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(200, 200, 200);
}
.fab {
    margin: 5px;
}
.a2a_button_linkedin_share {
    transform: scale(1.32);
    margin-left: 11px;
    margin-right: 10px;
    margin-top: 4px;
}
xdoor-icon {
    padding-left: 3px;
    transform: scale(0.8);
}

@media (max-width: 518px) {
    .a2a_button_linkedin_share {
        margin-top: 10px;
    }
}

.icons {
    padding-bottom: 30px;
}

a {
    padding-left: 5px;
    padding-right: 5px;
}

.footerRow .col {
    margin-bottom: 40px;
    min-width: max-content;
}

.footerRow {
    width: 90%;
    margin: 0 auto;
}

.left {
    text-align: left;
}

.category {
    font-family: 'Poppins-Bold';
    margin-bottom: 10px;
}

.footer-link {
    margin-bottom: 6px;
    color: #888;
    font-family: 'Lato';
}

.footer-link a {
    all: unset;  /* unset automatic styles from a */
    cursor: pointer;
}
