.App {
  text-align: center;
  background-color: #1a1a1d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.navbar-brand {
  font-family: 'Poppins-Bold';
}

.navbar-link {
  font-family: 'Lato';
}

.navbar .active {
  background-color: #212529 !important;
  color: #30B2FF !important;
  font-weight: bold;
}



/**** FONTS ****/

/*
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("fonts/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("fonts/Lato-Light.ttf");
}*/

/*
img {
  object-fit: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('fonts/Poppins-Thin.ttf') format('truetype');
}

