.experiences {
    background-color: #f4f6f9;
}

.header {
    text-align: center;
    color: #111;
    font-weight: 900;
    border-bottom: 2px solid #111;
    width: max-content;
    margin: 0 auto;
}

.exp-list {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .exp-list {
        width: 90%;
    }
}
