@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.experiences {
    /*background-color: #1a1a1d;*/
    background-color: black;
}

.header {
    text-align: center;
    color: white;
    font-family: "Poppins-Black";
    border-bottom: 2px solid white;
    width: max-content;
    margin: 0 auto;
}